/* Write your CSS here */
.container {
  background-color: #1e293b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-family: Bree Serif;
  font-size: 98px;
}
.para {
  color: #ffffff;
  font-family: Bree Serif;
  font-size: 58px;
}
.button {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  min-width: 80px;
  font-size: 13px;
  color: #1e293b;
  font-family: Bree Serif;
  font-weight: bold;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 60px;
  }
  .para {
    font-size: 22px;
  }
}
